<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>signUp</title>
    <link rel="icon" href="/img/favicon.ico" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" type="text/css" href="/semantic-ui-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
    <script src="/semantic-ui-master/semantic.min.js"></script>
    <style type="text/css">
     h2{
       margin:0px!important;
     }
     h2 > div{
       width:100%;
       background-color:white;
       padding-bottom:0.5em!important;
     }
     body{
       background-color: white;
     }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .main {
        border-radius: 15px;
        box-shadow: hsl(24, 89%, 53%) 0px 0px 20px 4px;
        padding-bottom: 1em;
        max-width: 50em;
        padding-right: 2em!important;
        padding-left: 2em!important;
      }
      .ui.teal.header{
        color:#f78b1c!important;
      }
      .ui.primary.button{
        width: 100%;
        background-color:#f78b1c!important;
      }
      dd{
        margin-left: 0px;
      }
      .ui.form .fields{
        margin-bottom: 16px!important;
      }
      .ui.form .field{
        margin-bottom: 16px!important;
      }
      .ui.form .inline{
        margin-bottom: 16px!important;
      }
      select:required:invalid {
        color: gray;
      }
      option[value=""][disabled] {
        display: none;
      }
      option {
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="ui   middle aligned centered grid">
      <div class="row">
        <div class="column main">
          <h2 class="ui teal image header">
            <img src="/img/logo.jpg" style="width: auto!important;" class="image">
          </h2>
          {% from "_formhelpers.html" import render_field %}
          <form class="ui segment form" action="/signup" method="POST">
              <div class="two fields">
                <div id="nameError" class="field required">
                  <label>Name</label>
                  <input id="name" name="name" placeholder="Name" type="text" value="">
                </div>
                <div id="surnameError" class="field required">
                  <label>Surname</label>
                  <input id="surname" name="surname" placeholder="Surname" type="text" value="">
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <div id="emailError" class="field required">
                    <label>Email</label>
                    <input id="email" name="email" placeholder="Email" type="text" value="">
                  </div>
                </div>
              </div>
              <div class="two fields">
                <div  id="birthdayError"  class="field required">
                      <label>Birthday</label>
                      <input type="date" id="birthday" name="birthday">
                </div>
                <div id="genderError" class="field required">
                  <label>Gender</label>
                  <select id="gender" name="gender" required="">
                     <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="inline field">
                  <div class="field required" style="text-align:center;">
                    <label>Type</label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="inline fields" style="text-align:center;">
                  <div class="field" style="width: 100%;">
                    <div class="ui radio checkbox">
                      <input id="type-0" type="radio" name="type"  value="company">
                      <label for="type-0">Company</label>
                    </div>
                  </div>
                  <div class="field" style="width: 100%;">
                    <div class="ui radio checkbox">
                      <input  id="type-1" type="radio" name="type"  value="freelance">
                      <label for="type-1">Freelance</label>
                    </div>
                  </div>
                </div>
              </div>
                <div class="column">
                  <div class="two fields">
                    <div id="passwordError" class="field required">
                      <label>Password</label>
                      <input id="password" name="password" placeholder="Password" type="password" value="">
                    </div>
                    <div id="repeated_passwordError" class="field required">
                    <label>Repeated Password</label>
                    <div class="field required disabled">
                      <input id="repeated_password" name="repeated_password" placeholder="Repeated Password" type="password" value="">
                    </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="two fields">
                    <div id="company_nameError" class="field required">
                      <label>Company Name</label>
                      <input id="company_name" name="company_name" placeholder="Company Name" type="text" value="">
                    </div>
                    <div id="enterpriseError" class="field required">
                      <label>Enterprise</label>
                      <input id="enterprise" name="enterprise" placeholder="Enterprise" type="text" value="">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="two fields">
                    <div id="vatError" class="field required">
                      <label>Vat</label>
                      <input id="vat" name="vat" placeholder="Vat" type="text" value="">
                    </div>
                    <div id="countryError" class="field required">
                      <label>Country</label>
                      <input id="country" name="country" placeholder="Country" type="text" value="">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="two fields">
                    <div id="provinceError" class="field required">
                      <label>Province</label>
                      <input id="province" name="province" placeholder="Province" type="text" value="">
                    </div>
                    <div id="zipcodeError" class="field required">
                      <label>Zipcode</label>
                      <input id="zipcode" name="zipcode" placeholder="Zipcode" type="text" value="">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="two fields">
                    <div id="addressError" class="field required">
                      <label>Address</label>
                      <input id="address" name="address" placeholder="Address" type="text" value="">
                    </div>
                    <div id="fiscal_codeError" class="field required">
                      <label>Fiscal Code</label>
                      <input id="fiscal_code" name="fiscal_code" placeholder="Fiscal Code" type="text" value="">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="inline fields" >
                    <div id="accept_tosError" class="field required">
                    <input name="accept_tos" id="accept_tos" type="checkbox" tabindex="0">
                    <label>I agree to the terms and conditions</label>
                    </div>
                  </div>
                </div>
              <div class="column">
                <input id="button"  class="ui primary  button" type="button" value="Submit">
              </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
      window.addEventListener("load", function(){
        var script = document.createElement("script");
        script.src = "/js/signup/signup_controller.js?ver=" + (new Date()).getTime();
        document.body.appendChild(script);
      });
    </script>
</html>
