<!DOCTYPE html>
<html>
  <head>
	<title>Twitter Tracker</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stiloso.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--libreria mappa-->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=MYKEY&callback=initMap"
	type="text/javascript"></script>-->

	<!--librerie wordcloud-->
	<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
	<!--librerie socket-->
  	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

	<!--finestra dialogo-->
	<script src="https://code.jquery.com/jquery-1.11.4.js"></script>
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

	<!--JS esterno-->
	<script src="{{ url_for('static', filename='js/jquery/Script_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/grafica_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/mappa_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/wordcloud_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/temporalgraph_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/importexport_tt.js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='js/jquery/socket_tt.js') }}" type="text/javascript" charset="utf-8"></script>

  	</head>
  	<body>
		<div id="sopra">
			<h1>Twitter Tracker</h1>
			<div id="importaEsporta">
				<button class="bottoni_1" id="bottone_sinistro" onclick="AlertEsporta()" type="button">Esporta</button>
				<button class="bottoni_1" id="bottone_destro" onclick="VisualizzaSalvataggi()" type="button">Importa</button>
			</div>
			<form id="start_stop" action="#">STREAM
				<div class="switch">
				  <input id="switch-1" onclick="ferma_stream1()" type="checkbox" class="switch-input" checked>
				  <label for="switch-1" class="switch-label">Switch</label>
				</div>
			</form>
		</div>
		<div id="ricerca">
			<!--Per scegliere il tipo di ricerca-->
			<div id="gruppo">
				<div id="scelta_form">
					<input type="radio" id="search" onclick=visualizza_form_ricerca() name="scelta">
					<label class="scegli" for="search"> Ricerca</label>
					<input type="radio" id="stream" onclick=visualizza_form_stream() name="scelta" checked>
					<label class="scegli" for="stream"> Stream</label>
				</div>
				<div id="scelta_visualizzazione">
					<input type="checkbox" onclick="vedi_tweet()" id="tweet_visibile" checked>
					<label class="vedi" for="tweet_visibile">TWEET</label>
					<input type="checkbox" onclick="vedi_mappa()" id="mappa_visibile">
					<label class="vedi" for="mappa_visibile">MAPPA</label>
					<input type="checkbox" onclick="vedi_wordcloud()" id="wordcloud_visibile">
					<label class="vedi" for="wordcloud_visibile">WORDCLOUD</label>
				</div>
			</div>
			<!--form lookup-->
			<form id="form_lookup" method="post" target="tweet" style="display:none">
				<div class="testo_ricerca">
					<div class="input-container">
						<input id="input" type="text" name="ricerca" >
						<input id="input2" type="text" name="ricerca" >
					</div>
					<input class="button" type="submit" onclick=richiesta_dati() value="Search"><br>
				</div>
				<input type="checkbox" id="persona" name="persona" class="filtro">
				<label for="persona"> Username</label><br>
				<input type="checkbox" id="parola_chiave" name="parola_chiave" class="filtro">
				<label for="parola chiave"> Parola chiave</label><br>
			</form>
			<!--form streaming-->
			<form id="form_stream" method="post" target="tweet">
				<div class="testo_ricerca">
					<input id="input_stream" type="text" name="ricerca">
					<input class="button" onclick="aggiustamenti_stream()" type="submit" value="Search"><br>
				</div>
				<input type="checkbox" id="persona_stream" name="persona" class="filtro">
				<label for="persona_stream"> Username</label><br>
				<input type="checkbox" id="luogo_stream" name="luogo" class="filtro">
				<label for="luogo_stream"> Luogo</label><br>
				<input type="checkbox" id="parola_chiave_stream" name="parola_chiave" class="filtro">
				<label for="parola_chiave_stream"> Parola chiave</label><br>
				<input type="checkbox" id="area_geografica_stream" onclick="visualizza_input()" name="area_geografica" class="filtro">
				<label for="area geografica stream"> Area geografica</label><br>
				<div id="coordinate_geo" style="display:none;">
					<div id="latitudine">&nbsp;Latitudini:
						<input type="text" name="lat1">
						<input type="text" name="lat2"><br>
					</div>
					<div id="longitudine">&nbsp;Longitudini:
						<input type="text" name="long1">
						<input type="text" name="long2"><br>
					</div>
				</div>
			</form>

    		<p id="descrizione" style="display: none"> <!--Inserire in questo paragrafo i commenti e le spiegazioni all'utente-->
       			Per cercare: <br>
       			-una parola chiave scrivi la parola preceduta dal carattere #, <br>
       			-una zona scrivi il nome della zona preceduta dal carattere $, <br>
       			-gli spostamenti di una persona scrivi il nome utente di quella persona (compresa la @). <br>
    		</p>
		</div>
		<div id="visualizzazione_tw">
		</div>
  		<div id="container-map" style="display:none">
    		<div id="map-canvas"></div>
	  	</div>
		<div id="word_cloud" style="display:none">
		</div>
		<div id="chartdiv">
		</div>
		<iframe name="tweet" id="json_ricevuto" style="display:none;"></iframe>
		<!--Finestra di dialogo per salvataggi-->
		<div id="dialog" title="Salvataggi" style="display:none;">
			<div id="elenco_salvataggi"></div><hr>
			<button onclick="importa_direttamente()" type="button">IMPORTA</button>
			<button onclick="elimina()" type="button">ELIMINA</button>
			<button onclick="SvuotaSalvataggi()" type="button">ELIMINA TUTTO</button>
		</div>
  	</body>
</html>
